{% extends 'base.html'%}

{% block head %}
<title> Tällainen hauska sovellus</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %} 


{% block body%}
<div class="content">
    <h1> Hauska mukava sovellus </h1>

    {% if tasks | length == 0 %}
    <h3>There are no tasks</h3>
    {% else %}
    <table>
        <tr>
            <th> <img src="static\IMG_2418.JPEG" style="width: 150px; height: auto;" alt="kuva"> </th>
            <th> <img src="static\kalenteri.jpg" style="width: 90px; height: auto;" alt="kuva"> </th>
            <th> Kauanko menee </th>
            <th> <img src="static\hiiri.jpg" style="width: 150px; height: auto;" alt="kuva"> </th>
            <th> Onko tehty? </th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.created.strftime("%Y-%m-%d")}}</td>
                <td>{{task.maara}}</td>
                <td> 
                    <a href="/delete/{{task.id}}"><img src="static\tuhoaja.jpg" style="width: 50px; height: auto;" alt="kuva"></a>
                    <br/>
                    <a href="/edit/{{task.id}}"><img src="static\editointi.jpg" style="width: 50px; height: auto;" alt="kuva"></a>
                </td>
                {% if task.complete == 0 %}
                <td>
                    <img src="static\ei_tehty.jpg" style="width: 90px; height: auto;" alt="kuva">
                    <br/>
                    <a href="/done/{{task.id}}"> Merkitse tehdyksi </a>
                </td>
                {% endif %}
                {% if task.complete == 1 %}
                <td>
                    <img src="static\tehty.jpg" style="width: 90px; height: auto;" alt="kuva">
                    <br/>
                    <a href="/done/{{task.id}}"><"Moi"></a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name = "content" id = "content" />
        <input type="number" name = "maara" id = "maara" />        
        <input type="submit" value="Lisää homma" id = "btn_add" />
    </form>
    <h3> Olet tehnyt hommia <td>{{tehdyt_aika}}</td> minuuttia. Hommia jäljellä <td>{{tekemattomat_aika}}</td> minuuttia. </h3>
    <canvas id="MyVisualization"></canvas>
    <script>
        var ctx =
document.getElementById('MyVisualization').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{%for x in labels%}"{{x}}",{%endfor%}],
                datasets: [{
                    label: "Aika",
                    data: [{%for d in aika%}{{d}},{%endfor%}],
                    borderwith: 1
                }]
            },
            options: {scales: {y:{beginAtZero: true}}}
        })
    </script>
</div>

{% endblock %}
